---
http_interactions:
- request:
    method: get
    uri: http://www.omdbapi.com/?plot=short&r=json&t=Star%2BWars&y=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Thu, 03 Nov 2016 13:55:21 GMT
    body:
      encoding: UTF-8
      string: '{"Title":"Star Wars: Episode IV - A New Hope","Year":"1977","Rated":"PG","Released":"25
        May 1977","Runtime":"121 min","Genre":"Action, Adventure, Fantasy","Director":"George
        Lucas","Writer":"George Lucas","Actors":"Mark Hamill, Harrison Ford, Carrie
        Fisher, Peter Cushing","Plot":"Luke Skywalker joins forces with a Jedi Knight,
        a cocky pilot, a wookiee and two droids to save the galaxy from the Empire''s
        world-destroying battle-station, while also attempting to rescue Princess
        Leia from the evil Darth Vader.","Language":"English","Country":"USA","Awards":"Won
        6 Oscars. Another 48 wins & 28 nominations.","Poster":"https://images-na.ssl-images-amazon.com/images/M/MV5BZGEzZTExMDEtNjg4OC00NjQxLTk5NTUtNjRkNjA3MmYwZjg1XkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SX300.jpg","Metascore":"92","imdbRating":"8.7","imdbVotes":"927,743","imdbID":"tt0076759","Type":"movie","Response":"True"}'
  recorded_at: Fri, 04 Nov 2016 01:44:28 GMT
- request:
    method: get
    uri: http://www.omdbapi.com/?plot=short&r=json&t=Movie%2BNot%2BFound&y=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Thu, 03 Nov 2016 07:10:07 GMT
    body:
      encoding: UTF-8
      string: '{"Response":"False","Error":"Movie not found!"}'
  recorded_at: Fri, 04 Nov 2016 01:44:28 GMT
recorded_with: VCR 3.0.3
