---
http_interactions:
- request:
    method: get
    uri: http://www.omdbapi.com/?plot=short&r=json&t=hobbit&y=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Wed, 02 Nov 2016 14:43:05 GMT
    body:
      encoding: UTF-8
      string: '{"Title":"The Hobbit: An Unexpected Journey","Year":"2012","Rated":"PG-13","Released":"14
        Dec 2012","Runtime":"169 min","Genre":"Adventure, Fantasy","Director":"Peter
        Jackson","Writer":"Fran Walsh (screenplay), Philippa Boyens (screenplay),
        Peter Jackson (screenplay), Guillermo del Toro (screenplay), J.R.R. Tolkien
        (novel)","Actors":"Ian McKellen, Martin Freeman, Richard Armitage, Ken Stott","Plot":"A
        reluctant hobbit, Bilbo Baggins, sets out to the Lonely Mountain with a spirited
        group of dwarves to reclaim their mountain home - and the gold within it -
        from the dragon Smaug.","Language":"English","Country":"USA, New Zealand","Awards":"Nominated
        for 3 Oscars. Another 10 wins & 70 nominations.","Poster":"https://images-na.ssl-images-amazon.com/images/M/MV5BMTcwNTE4MTUxMl5BMl5BanBnXkFtZTcwMDIyODM4OA@@._V1_SX300.jpg","Metascore":"58","imdbRating":"7.9","imdbVotes":"643,876","imdbID":"tt0903624","Type":"movie","Response":"True"}'
  recorded_at: Thu, 03 Nov 2016 07:09:57 GMT
- request:
    method: get
    uri: http://www.omdbapi.com/?plot=short&r=json&t=Movie%2BNot%2BFound&y=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Thu, 03 Nov 2016 07:10:07 GMT
    body:
      encoding: UTF-8
      string: '{"Response":"False","Error":"Movie not found!"}'
  recorded_at: Thu, 03 Nov 2016 07:09:58 GMT
- request:
    method: get
    uri: http://www.omdbapi.com/?plot=short&r=json&t=Star%2BWars&y=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Wed, 02 Nov 2016 13:48:03 GMT
    body:
      encoding: UTF-8
      string: '{"Title":"Star Wars: Episode IV - A New Hope","Year":"1977","Rated":"PG","Released":"25
        May 1977","Runtime":"121 min","Genre":"Action, Adventure, Fantasy","Director":"George
        Lucas","Writer":"George Lucas","Actors":"Mark Hamill, Harrison Ford, Carrie
        Fisher, Peter Cushing","Plot":"Luke Skywalker joins forces with a Jedi Knight,
        a cocky pilot, a wookiee and two droids to save the galaxy from the Empire''s
        world-destroying battle-station, while also attempting to rescue Princess
        Leia from the evil Darth Vader.","Language":"English","Country":"USA","Awards":"Won
        6 Oscars. Another 48 wins & 28 nominations.","Poster":"https://images-na.ssl-images-amazon.com/images/M/MV5BOTIyMDY2NGQtOGJjNi00OTk4LWFhMDgtYmE3M2NiYzM0YTVmXkEyXkFqcGdeQXVyNTU1NTcwOTk@._V1_SX300.jpg","Metascore":"92","imdbRating":"8.7","imdbVotes":"921,980","imdbID":"tt0076759","Type":"movie","Response":"True"}'
  recorded_at: Thu, 03 Nov 2016 07:13:41 GMT
recorded_with: VCR 3.0.3
